@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Libre Franklin:400,400i|Montserrat:400,600');

@font-face {
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/Brandon_blk.otf');
}

@font-face {
    font-family: 'Brandon Grotesque';
    font-style: italic;
    font-weight: 800;
    src: url('assets/fonts/Brandon_blk_it.otf');
}
@font-face {
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/Brandon_bld.otf');
}

@font-face {
    font-family: 'Brandon Grotesque';
    font-style: italic;
    font-weight: 700;
    src: url('assets/fonts/Brandon_bld_it.otf');
}

/* baseline styles */
html {
    font-size: 16px;
}

body {
    line-height: 1.5625rem;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Brandon Grotesque', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

h3 {
    color: #b01324;
}

div.content h4 {
    margin-top: 1.5625rem;
    border-bottom: 1px solid #eee;
}

div.content h4:first-child {
    margin-top: 0;
}

h5 {
    font-size: 1.125rem;
}

p, li {
    line-height: 1.5625rem;
    font-size: 1rem;
}

div#sidebar p {
    line-height: 1.25rem;
    font-size: 0.8125rem;
}

div.splash {
    background-size: auto 100%;
    background-repeat: no-repeat;
}

div#splash1 {
    background-image: url('assets/space1.jpeg');
    background-position: 30% top;
    background-color: rgba(255, 255, 255, .2);
    background-blend-mode: screen;
}

div#splash2 {
    background-size: auto 100%;
    background-position: top center;
    background-image: url('assets/3dprinter.gif');
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
}

div > div#splash3 {
    margin-left: -1.5rem;
    width: 100%;
    min-height: 450px;
}

div#splash3 iframe {
    height: 100%;
    width: 100%;
    border: none;
}

div#splash4 {
    background-size: auto 110%;
    background-position: top center;
    background-image: url('assets/sus-215.jpeg');
    min-height: 300px;
    background-color: rgba(255, 255, 255, .2);
    background-blend-mode: screen;
}

div#splash5 {
    background-size: auto 150%;
    background-position: bottom right;
    background-image: url('assets/applied-math.jpeg');
    min-height: 300px;
    background-color: rgba(255, 255, 255, .2);
    background-blend-mode: screen;
}

p.lead {
    font-size: 1.25rem;
    line-height: 1.59rem;
}

span.headwords {
    font-weight: 700;
}

span.gif-caption {
    display: block;
    font-family: 'Brandon Grotesque';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 2.5rem;
    letter-spacing: 2px;
    text-align: right;
    color: #ffffff;
}

div#content figure {
    height: auto;
    padding: 7px;
}


div#footer {
    text-transform: uppercase;
    font-family: 'Libre Franklin', sans-serif;
    font-size: .625rem;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
}

div#ticker-container {
    border-bottom: 1px solid #eee;
    color: rgba(0, 0, 0, 0.5);
}

div#ticker {
    padding-left: .5em;
}

div#ticker-container span {
    width: 265px;
    max-width: 265px;
    float: left;
    font-family: 'Brandon Grotesque', sans-serif;
    font-size: 0.875rem;
    text-transform: uppercase; 
    border-right: 1px solid #eee;
}

div#ticker-container b {
    color: black;
}


/****************************************/
/* spacing */

a#logo img {
    display: block;
    margin: auto;
    max-height: 150px;
    padding-top: 10px;
}

div#body {
}

div#sidebar figure {
    margin: 0;
}

table#contact {
    border-collapse: separate;
    border-spacing: 0 10px;
}

table#contact p {
    color: black;
    padding-left: 5px;
    margin-bottom: 0;
}

td.icon {
    height: 100%;
    padding: 0 5px;
    border-right: 1px solid #ccc;
}

/****************************************/
/* navbar styles */

nav {
    font-family: 'Brandon Grotesque', sans-serif;
    margin-top: -12px;
    max-height: 60px;
    padding: 7px 0 0 !important;
    border-bottom: 1px solid #eee;
}

div.brand-wrapper {
    margin-right: 0;
    min-width: 280px;
}


a.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
}

ul.navbar-nav {
    margin: auto;
}

li.nav-item {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-right: 10px;
    font-weight: 700;
}

/* underline easing on hover */
li.nav-item a {
    position: relative;
    text-decoration: none;
}

li.nav-item a::before {
    content: "";
    position: absolute;
    width: calc(100% - 10px);
    height: 1px;
    bottom: 7px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

li.active a::before {
    background-color: black;
}

li.nav-item a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/****************************************/

